// Cor do template
//$template-color: #004F71; // azul
$template-color: #006748; // verde

// Identidade visual
$identidade-visual-verde: #006748;
$identidade-visual-azul: #009ca8;

// Footer
$footer-font-color: #bbb;
$footer-background-color: #2B2B2B;
$footer-copyright-background-color: #252525;

// Cores
$preto: #000;
$preto-claro: #333;
$branco: #fff;
$cinza: #ccc;
$cinza-claro: #eee;
$vermelho: red;

// Menu antigo
$verde: #005239;
$verde-claro: #2c8c68;

// Rodape antigo
$footer-background: #e1e3d3;